@{
    Layout = "../Shared/_Layout";
    ViewData["Title"] = "My Account";
}

@model WealthFlow.DataDTO

<div class="row">
    <div class="col-md-6">
        <h1>@ViewData["Title"]</h1>
        <form>
            <div class="form-group">
                <label for="newEmail">Email address</label>
                <input type="email" class="form-control" id="newEmail" aria-describedby="emailHelp" value="@Model.User.Email">
            </div>
            <div class="form-group">
                <label for="newPassword">Password</label>
                <input type="password" class="form-control" id="newPassword">
            </div>
            <button type="button" class="btn btn-primary" id="updateAccount">Update Account</button>
        </form>
    </div>
    <div class="col-md-6 mt-md-0 mt-4">
        <div class="row">
            <div class="col-8">
                <h1>My Cards</h1>
            </div>
            <div class="col-4">
                <button class="btn btn-primary float-right" id="showNewCardFormContainer">New Card</button>
            </div>
            <div class="col-12" id="newCardFormContainer">
                <form>
                    <div class="form-group">
                        <label for="cardNum">Card Number</label>
                        <input type="text" class="form-control" id="cardNum" />
                    </div>
                    <div class="form-group">
                        <label for="type">Type</label>
                        <select class="form-control" id="type">
                            <option disabled selected>-------------</option>
                            <option value="Debit">Debit</option>
                            <option value="Credit">Credit</option>
                        </select>

                        <label for="bank" class="mt-2">Bank Name</label>
                        <select class="form-control" id="bank">
                            <option disabled selected>-------------</option>
                            <option value="td">Toronto-Dominion Bank (TD)</option>
                            <option value="cibc">Canadian Imperial Bank of Commerce (CIBC)</option>
                            <option value="bmo">Bank of Montreal (BMO)</option>
                            <option value="scotia">Bank of Nova Scotia (Scotiabank)</option>
                            <option value="rbc">Royal Bank of Canada (RBC)</option>
                        </select>
                    </div>
                    <button type="button" class="btn btn-primary" id="addCard">Add Card</button>
                </form>
            </div>
            <div class="col-12 mt-3">
                <table class="table table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th>Card Number</th>
                            <th>Type</th>
                            <th>Bank</th>
                            <th class="text-center">Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Cards)
                        {
                        <tr id="@item.CardId">
                            <td>@item.CardNum </td>
                            <td>@item.Type</td>
                            <td>@item.Bank</td>
                            <td>
                                <div class="d-flex justify-content-center">
                                    <button class="btn btn-outline-danger btn-sm delete">X</button>
                                </div>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        
    </div>
</div>

<script type="text/javascript">

    $("document").ready(function () {
        $("#newCardFormContainer").hide();

        $("#updateAccount").click(function (e) {
            e.preventDefault();

            let newEmail = $("#newEmail").val();
            let newPassword = $("#newPassword").val();

            if (newEmail == "" || newPassword == "") {
                Swal.fire({
                    icon: 'error',
                    title: 'Error',
                    text: 'Empty field found.'
                });
                return;
            }

            let data = { email: newEmail, password: newPassword };

            $.ajax({
                type: "POST",
                url: "UpdateAccount",
                data: data,
                success: function (response) {
                    if (response) {
                        Swal.fire({
                            icon: 'success',
                            title: 'Success',
                            text: 'Your account has been updated.'
                        })
                    } else {
                        Swal.fire({
                            icon: 'error',
                            title: 'Error',
                            text: 'No changes were made.'
                        })
                    }
                },
                failure: function (response) {
                    alert(response.d);
                }
            });
        });

        $("#showNewCardFormContainer").click(function (e) {
            e.preventDefault();
            $("#newCardFormContainer").show();
        });

        $("#addCard").click(function (e) {
            e.preventDefault();
            $("#newCardFormContainer").hide();

            let cardNum = $("#cardNum").val();
            let type = $("#type").val();
            let bank = $("#bank").val();

            if (cardNum == "" || type == "" || bank == "") {
                Swal.fire({
                    icon: 'error',
                    title: 'Error',
                    text: 'Empty field found.'
                });
                return;
            }

            let data = { cardNum: cardNum, type: type, bank: bank };

            $.ajax({
                type: "POST",
                url: "AddNewCard",
                data: data,
                success: function (response) {
                    Swal.fire({
                        icon: 'success',
                        title: 'Success',
                        text: 'New card has been added'
                    }).then(function () {
                        location.reload();
                    });
                },
                failure: function (response) {
                    alert(response.d);
                }
            });
        });

        $(".delete").click(function (e) {
            e.preventDefault();
            let cardId = $(this)[0].parentNode.parentNode.parentNode.id;

            $.ajax({
                type: "POST",
                url: "DeleteCard",
                data: {cardId : cardId},
                success: function (response) {
                    Swal.fire({
                        icon: 'success',
                        title: 'Success',
                        text: 'Deleted successfully'
                    }).then(function () {
                        location.reload();
                    });
                },
                failure: function (response) {
                    alert(response.d);
                }
            });
        });
    });
</script>